.p-panel-header{
    padding: 0px !important;
}

.login-message{
    color: red;
    font-weight: bold;
    margin-bottom: 0px;
    height: 15px;
}

.login-panel{
    vertical-align: middle;
    height: fit-content;
    width: 50%;
    max-width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.p-button{
    width: 100% !important;
}

.login-container{
    width:100%;
    height:100vh;
    display: flex;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
}

.p-password-input{
    width: 100% !important;
}