@import '../node_modules/primeflex/primeflex.min.css';
@import '../node_modules/primeicons/primeicons.css';

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: normal;
    font-weight: 400;
}

body {
    background-color: var(--p-surface-50);
    min-height: 100vh;
}

.p-datepicker .p-inputtext {
    width: 100%;
}

.p-menubar{
    margin: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    border:none !important;
    border-radius:0 !important;
    right:0;
    background-color: #dbeee8 !important;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.126), 0 0 5px 0 rgba(0, 0, 0, 0.107);
}


.required-mark {
    color: red;
    margin-left: 3px !important;
}

.action-button .p-button{
    min-width: 80px;
}

.p-overlay-mask{
    background: #d4d4d42b !important;
}

.top-padding-header-0 .p-panel-header{
    padding-top: 0px !important;
}

.bottom-padding-header-0 .p-panel-header{
    padding-bottom: 0px !important;
}


.view-container{
    width: 100%;
    position: relative;
}

.loading-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffffb3;
    z-index: 1;
    align-content: center;
}

.p-progressspinner{
    display: block !important;
}

.label{
    padding: 3px 7px 3px 7px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.label-success{
    background-color: var(--p-emerald-500);
}

.label-danger{
    background-color: var(--p-rose-600);
}

.label-info{
    background-color: var(--p-violet-500);
}
